*{
    margin : 0;
    padding: 0;
}

body{
    background : url(../SRC/carbg.jpg);
    /*background-size: 280%;*/
    background-position: center;
}

div.main{
    width:400px;
    margin : 100px auto 0px auto;  
}

h2{
  text-align: center; 
  font-family: sans-serif;
  padding: 20px; 
}

div.register{
    background-color: rgba(0,0,0,0.5);
    width : 100%;
    font-size: 14px;
    border-radius: 15px 0px 15px 0px;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(255,255,255,0.3);
    color: #fff;
   
}

form#register{
    margin : 40px;
}

input#name{
    width:300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    
}

label{
    font-family: sans-serif;
    font-weight: italic;
    font-size: 14px;

}

#submit,#reset{
    width:100px;
    padding:7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border:none;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    margin-bottom:20px;
}

label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

