*{
    margin : 0;
    padding: 0;
}

body{
    background : url(../SRC/carbg.jpg);
    /*background-size: 280%;*/
    background-position: center;
}

h2{
    text-align: center; 
    font-family: sans-serif;
    padding: 20px; 
  }

div.Container{
    width:1500px;
    margin : 100px auto 0px auto;  
}

div.Content{
    background-color: rgba(0,0,0,0.5);
    width : 100%;
    font-size: 13px;
    border-radius: 15px 0px 15px 0px;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(255,255,255,0.3);
    color: #fff;
   
}

table{
    border-collapse: collapse;
    width :99%;
}

table th{
    background-color: #2691d9;
    color:#fff;
    padding:10px;
    font-size: 1em;
    font-family:'Poppins',sans-serif;
}

table td{
    padding: 12px;
    color:rgba(255, 255, 255, 0.94);
    font-size: 1em;
    text-align: center;
    font-family:'Poppins',sans-serif;
}

