*{
    margin : 0;
    padding: 0;
}

table{
    border-collapse: collapse;
    width :100%;
}

table th{
    background-color: #2691d9;
    color:#fff;
    padding:10px;
    font-size: 1em;
    font-family:'Poppins',sans-serif;
}

table td{
    padding: 12px;
    color:rgba(255, 255, 255, 0.94);
    font-size: 1em;
    text-align: center;
    font-family:'Poppins',sans-serif;
}

table tr:nth-child(odd){
    background-color:#797676;
}

.Container{
    background-image: url(../SRC/carbg.jpg);
    background-position:center;
    background-size: cover;
    height:100vh;
   
}

.Container:after{ 
    position: absolute;
    content: '';
    top: 0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0.7);
}

.content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 600px;
    padding:60px 32px ;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -px 4px28px 0px rgba(0, 0, 0, 0.75);  
}

.content h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
    margin: 0 0 35px 0;

}

.buttons{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
}


















